@page
@model MyApp.Namespace.CallApiModel




<form method="post">
    <table>
        <tr>
            <td><input type="submit" id="btnFetch" value="Fetch" asp-page-handler="Fetch" /></td>
           
        </tr>
    </table>
</form>
<pre>@Model.Json</pre>

@if (ViewData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@ViewData["Message"]');
            };
        </script>
    }